.header{
    background-color: #07507f; 
    height: 60px;   
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.heading {
    color: #ffffff;
    font: 1.5rem Verdana;
    margin: auto;
}
.logo {
    height: 50px;
}
.sidebar {
    width: 100%;
}
.menu-btn {
    background: rgba(176, 217, 241, 0.616);
}
.btn-active {
    background: rgba(31, 108, 153, 0.616);
}
.conatiner {
    background: white;
    display: flex;
    flex-direction: column;
}
.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
